{% extends "page.twig" %}

{% block title %}Oops! - FabianGoe Blog{% endblock %}

{% block content %}
    <h2>Internal error</h2>
    <a  class="pure-button" href="{{ path_for('homepage') }}">Go back to home</a>
{% endblock %}